<!doctype html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coinify</title>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kalam:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="mainContent">
        {% extends "base.html" %}
        {% block content %}
        {% if user %}
        <p>{{ user_email }}</p>
        <p>{{ user_name }}</p>
        <img src="{{ user_pic }}" alt="user picture"></img>
        <p></p>
        {% endif %}
        {% if not user %}
        <a class="button" href="/login">Google Login</a>
        {% endif %}

        {% if user %}
        <a class="button" href="/logout">Google Logout</a>
        {% endif %}

        <h1>Coinify</h1>
        <form action="/api/{coin_name}" method="post" class="coinform">
            <input type="text" name="coin_name" id="coin_name" placeholder="BTC">
            <input type="submit" class="submitButton">
            <select name="timeframe" id="timeframe">
                <option value="100">100 Days</option>
                <option value="30">30 Days</option>
                <option value="7">7 Days</option>
                <option value="1">1 Day</option>
            </select>
        </form>
        <div class="graphsDisplay">
            {% if graphJSON %}
            {% for i in range(graphJSON | length) %}
            <div id='chart{{i}}' class='chart'></div>
            {% endfor %}
            {% endif %}
        </div>
        {% block javascript %}
        <script>
            var data = {{ graphJSON | safe}};
            for (let j = 0; j < data.length; j++) {
                var thisChartData = JSON.parse(data[j]);
                Plotly.plot(`chart${j}`, thisChartData, {});
            };
        </script>
        {% endblock %}
</body>
<footer>
    Brought to you by CoinAPI<br>GitHub Link Goes Here<br>2022
</footer>
</div>

</html>

{% endblock %}