body{
  background-color: rgb(205, 205, 255);
  margin: 20%;
  margin-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.button{
  border-radius: 20px;
}

input{
  border: none;
  width: 30%;
  padding: 1%;
}

h1{
  font-size: 7vw;
  font-style: italic;
}